@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to bottom, #03A678, #02735E);
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    box-shadow: 5px 5px 15px #0140409d ;
    margin: auto;
    border-radius: 5px;
}
h1{
    color:#a93d25;
    text-align: center;
    text-shadow: 1px 1px 1px #3f0d02;

}
h2{
    color:#F27405 ;

}
p{
    text-align: justify;
}
